In [ ]:
import sqlite3

conn = sqlite3.connect("db_dados_fake.db")
cursor = conn.cursor()

In [ ]:
cursor.execute('''
ALTER TABLE dados_fake DROP COLUMN Nova_coluna
''')

In [ ]:
cursor.execute('''
ALTER TABLE dados_fake ADD COLUMN Nova_coluna REAL
''')

In [ ]:
# cursor.execute('''
# UPDATE dados_fake SET Nova_coluna = CASE
#                WHEN Idade LIKE '%[a-zA-Z]%' THEN NULL
#                ELSE CAST(Idade AS INTEGER)
#                END
# ''')

cursor.execute('''
UPDATE dados_fake SET Nova_coluna = CAST(Idade AS INTEGER)
''')

cursor.execute('''
ALTER TABLE dados_fake DROP COLUMN Idade
''')

cursor.execute('''
ALTER TABLE dados_fake RENAME COLUMN Nova_coluna TO Idade
''')

conn.commit()

In [ ]:
cursor.execute('''
PRAGMA table_info(dados_fake)
''')

resultados = cursor.fetchall()

for row in resultados:
  print(row)

In [ ]:
cursor.execute('''
DELETE FROM dados_fake WHERE Salário = 0.0
''')

conn.commit()

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

# Conecte-se ao banco de dados
conn = sqlite3.connect("db_dados_fake.db")
cursor = conn.cursor()

# Defina a coluna de interesse
coluna_interesse = 'Salário'

# Obtenha os nomes de todas as colunas, exceto a coluna de interesse
cursor.execute(f'''
    SELECT name FROM pragma_table_info('dados_fake')
    WHERE name != '{coluna_interesse}'
''')
colunas = [coluna_interesse] + [row[0] for row in cursor.fetchall()]  # Adicione a coluna de interesse à lista

# Execute uma consulta para obter os dados das colunas
cursor.execute(f'''
    SELECT {', '.join(colunas)} FROM dados_fake
''')
dados = cursor.fetchall()

# Crie uma matriz numpy com os dados
matriz_dados = np.array(dados)

# Calcule a matriz de correlação
matriz_correlacao = np.corrcoef(matriz_dados, rowvar=False)

# Crie um mapa de calor usando seaborn
plt.figure(figsize=(10, 8))
sns.heatmap(matriz_correlacao, annot=True, xticklabels=colunas, yticklabels=colunas, cmap='coolwarm')
plt.title("Mapa de Correlação")
plt.show()

# Feche a conexão com o banco de dados
conn.close()

In [7]:
import sqlite3

# Conecte-se ao banco de dados
conn = sqlite3.connect("db_dados_fake.db")
cursor = conn.cursor()

# Obtenha os nomes de todas as colunas, exceto a coluna de interesse
cursor.execute(f'''
    SELECT name FROM pragma_table_info('dados_fake')
''')

colunas = [row[0] for row in cursor.fetchall()]

print(colunas)

for coluna in colunas:
  print(coluna)

print(colunas[0], colunas[1])

conn.close()

['Salário', 'Idade']
Salário
Idade
Salário Idade