In [1]:
from Data_transform.data_transform import interface

# interface.db_arquive("CACHE_DADOS/fake_data_test_tqdm.db")
interface.data_csv_file("fake_data.csv")

DEBUG:root:
            CREATE TABLE IF NOT EXISTS dados_analise (
            ÿþI D  TEXT,  N o m e  TEXT,  I d a d e  TEXT,  S a l á r i o  TEXT
            )

Os dados não estavam no tipo utf-8
Os dados são do tipo UTF-16 condidence 1.0
encode_type != 'utf-8'

ProgrammingError: the query contains a null character

In [ ]:
interface.printar_tipos_de_dados()
interface.remover_coluna(["ID", "Nome"])

In [ ]:
interface.converter_valores()
interface.printar_tipos_de_dados()

In [ ]:
interface.plotar_mapa_de_correlacao()