In [ ]:
import sqlite3

conn = sqlite3.connect('db_dados_fake.db')
cursor = conn.cursor()

In [ ]:
cursor.execute('''
SELECT * FROM dados_fake
''')
resultados = cursor.fetchall()
descript = [description[0] for description in cursor.description]

print("view do db: ")
print(descript)
for row in resultados:
  print(row)

In [ ]:
cursor.execute(f'''
SELECT typeof(Idade) AS tipo_dados, COUNT(*) AS total FROM dados_fake GROUP BY typeof(Idade)
''')

resultados = cursor.fetchall()

for tipo, total in resultados:
  print(tipo, total)

In [ ]:
cursor.execute(f'''
UPDATE dados_fake SET Idade = CAST(Idade AS INTEGER)
''')

conn.commit()

In [ ]:
cursor.execute(f'''
SELECT typeof(Idade) AS tipo_dados, COUNT(*) AS total FROM dados_fake GROUP BY typeof(Idade)
''')

resultados = cursor.fetchall()
print(resultados)

for tipo, total in resultados:
  print(tipo, total)

In [ ]:
# Verificar os valores na coluna "Idade" que não são inteiros
cursor.execute('''SELECT "Idade" FROM dados_fake WHERE "Idade" NOT LIKE '%[^0-9]%' ''')
valores_nao_inteiros = cursor.fetchall()
if valores_nao_inteiros:
    print("Existem valores na coluna 'Idade' que não são inteiros válidos:")
    print(valores_nao_inteiros)
else:
    # Executar a conversão apenas se todos os valores forem inteiros
    cursor.execute(f'''
    UPDATE dados_fake SET "Idade" = CAST("Idade" AS INTEGER) 
    ''')
    conn.commit()
    print("Conversão da coluna 'Idade' para inteiros concluída com sucesso.")

In [ ]:
conn.close()

In [ ]:
import sqlite3

conn = sqlite3.connect("db_dados_fake.db")
cursor = conn.cursor()

cursor.execute('''
SELECT * FROM dados_fake WHERE Salário IS NULL
''')

resultados = cursor.fetchall()

for row in resultados:
  print(row)